
body{background-color: #FDF7F6}

.button{

}

.phone{
    background-color: #f1f1f1;
    padding: 6px;
}
.chan{
    height: 150px;
}
.content tr th{
    text-align: center;
}
.layui-card{

}
